@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font: "Poppins, sans-serif";
  font-weight: 500;
  font-size: 1.2em;
  background: #555;
  color: #f8f8f8;
  line-height: 1.6;
}

.slider-cnt {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 400ms ease-in-out;
}

.image.current {
  opacity: 1;
}

.image {
  background: no-repeat center center/cover;
}

.image:first-child {
  background-image: url("image1.jpg");
}

.image:nth-child(2) {
  background-image: url("image2.jpg");
}

.image:nth-child(3) {
  background-image: url("image3.jpg");
}

.image .content {
  position: absolute;
  left: 0;
  bottom: -300px;
  width: 100%;
  padding: 2.4rem;
  background: rgba( 0, 228, 172, 0.2 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 6px );
  -webkit-backdrop-filter: blur( 6px );
  border: 1px solid #f2f2f2;
  color: #232323;
  opacity: 0;
}

.content h1 {
  margin-bottom: 0.7rem;
  color: #f1f1f1;
}

.content p{
  color: #f8f8f8;
}

.image.current .content {
  opacity: 1;
  transform: translateY(-300px);
  transition: all 700ms ease-in-out 300ms;
}

.btn button#prev {
  position: absolute;
  top: 50%;
  left: 0.5rem;
}

.btn button#next {
  position: absolute;
  top: 50%;
  right: 0.5rem;
}

.btn button {
  border: 1px solid white;
  background-color: transparent;
  color: white;
  cursor: pointer;
  padding: 13px 15px;
  outline: none;
}

.btn button:hover {
  background: rgb(0 228 172 / 76%);
  color: #f2f2f2;
}

@media only screen and (min-width: 600px) {
  .image .content {
    bottom: 3rem;
    left: -600px;
    width: 600px;
  }
  .image.current .content {
    transform: translateX(600px);
  }
}
